@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
}