@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    color: #1c1c1c;
}

/* headings and logo */

h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #23537E;
    font-weight: 300;
}

#logo {
    float: left;
    font-size: 180%;
    font-style: italic;
    margin-left: 15px;
}

/* navigation links */

#menu {
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 85px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

#menu a:hover {
    color: whitesmoke;
    background: #2398F5;
    box-shadow: 0 0 10px #2398F5, 0 0 20px #2398F5, 0 0 25px #2398F5;
    transition-delay: 0.25s;
    border-radius: 10px;
}

.active {
    background: #2398F5;
    box-shadow: 0 0 10px #2398F5, 0 0 15px #2398F5, 0 0 20px #2398F5;
    transition-delay: 0.25s;
    border-radius: 10px;
}

/* hero home and cover text */

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;

    position: relative;
}

#hero-home {
    width: 100%;
    height: 600px;
    background: url(../images/hero-home.jpg) no-repeat center center;
}

#cover-text h2, #cover-text p {
    color: whitesmoke;
    text-align: center;
    font-size: 110%;
}

#cover-text p {
    font-size: 180%;
}

#cover-text {
    width: 550px;
    height: 80px;

    background-color: rgba(35, 152, 245, 0.5);

    bottom: 20px;
    right: 425px;

    padding-top: 20px;

    position: absolute;
}

/* popular contents */

#popular-contents {
    height: 150px;
    margin-top: 50px;
    margin-left: 15px;
}

.contents-list-left {
    width: 50%;
    padding-top: 15px;
    list-style-type: none;
    line-height: 35px;
}

.contents-list-right {
    width: 50%;
    list-style-type: none;
    line-height: 35px;

    position: relative;

    left: 50%;
    bottom: 70px;
}

#popular-contents h3, #price-list-table h3 {
    font-size: 120%;
    font-family: "Libre Baskerville", serif;
    color: #1c1c1c;
    letter-spacing: 1px;
}

hr {
    border-bottom: 1px solid #1c1c1c;
    margin: 5px 0;
    width: 58vw;
}

/* price list table */

#price-list-table {
    height: 250px;
    margin-top: 50px;
    margin-left: 15px;
    font-size: 0.9em;
}

#price-list-table table {
    box-shadow: 0 0 20px #2398F5;
    border-collapse: collapse;
    width: 100%;
}

#price-list-table th, td {
    padding: 12px 15px;
}

#price-list-table tr {
    text-align: left;

}

#price-list-table th {
    background-color: #2398F5;
}

#price-list-table tr:nth-of-type(even) {
    background-color: lightgray;
}

/* arrangement */

#arrangement {
    margin: 150px 0 0 0;
    font-size: large;
}

.arrangement-content {
    padding: 20px;
    list-style-type: none;
}

/* Google maps */

#map {
    width: 100%;
    height: 350px;
    margin-top: 350px;
}

/* footer */

footer {
    background-color: #111;
    color: whitesmoke;
    font-size: 120%;
}

#contact-us {
    text-align: center;
}

#social-media {
    text-align: center;
}

#social-media li {
    display: inline;
}

#social-media i {
    margin: 1%;
    padding: 1%;
    font-size: 150%;
    color: whitesmoke;
}

#social-media i:hover {
    color: aqua;
}

#copyright {
    background-color: black;
    text-align: center;
    padding: 20px 0;
}

#copyright span {
    opacity: 0.4;
    font-weight: 900;
}

/* gallery */

#apartment-photos {
    clear: both;
    line-height: 0;
    column-gap: 0;
    column-count: 4;
}

#apartment-photos img {
    width: 100%;
}

/* book-now-form & main img */

.book-now-section {
    width: 100%;
    height: 900px;
    background: url(../images/book-now.jpeg) no-repeat center center;
    clear: both;
}

.book-now-form {
    margin-top: 300px;
    padding: 25px;
    position: absolute;
    color: whitesmoke;
    background-color: rgba(29, 29, 29, 0.8);
    max-width: 400px;
    left: 10%;
    border-radius: 10px;
}

.book-now-form h2 {
    color: whitesmoke;
    margin-bottom: 25px;
}

.input-text {
    color: whitesmoke;
    background: transparent;
    border: 2px inset whitesmoke;
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 25px;
    margin: 8px 0 25px 0;
}

.submit-button {
    display: block;
    margin-top: 25px;
    padding: 15px 35px;
    background-color: #23537E;
    color: whitesmoke;
    font-size: 120%;
    font-weight: 900;
    border-radius: 6px 6px 0 0;
}

.input-text:hover {
    background-color: #2398F5;
}

.submit-button:hover {
    background-color: whitesmoke;
    color: #23537E;
    box-shadow: 0 0 10px #2398F5, 0 0 15px #2398F5, 0 0 20px #2398F5;
}

/* Media queries */

/* For larger to medium screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #price-list-table {
        width: 65%;
        height: 250px;
        margin: 0 auto;
    }
}

/* For medium screen sizes 1000px wide and down */
@media screen and (max-width: 1000px) {
    #price-list-table {
        width: 90%;
        height: 600px;
        margin: 50px auto;
    }

    #price-list-table th {
        display: none;
    }

    #price-list-table td {
        display: block;
    }

    #price-list-table td:first-child {
        text-align:center;
        background-color: #2398F5;
    }

    #price-list-table td:nth-child(2)::before {
        content: "Guest No. 1-4"
    }

    #price-list-table td:nth-child(3)::before {
        content: "Guest No. 5-6"
    }

    #price-list-table td {
        text-align: right;
    }

    #price-list-table td::before {
        float: left;
    }

    #menu {
        clear: left;
        float: left;
        line-height: 25px;
        margin: 0 0 25px 15px;
    }

    #cover-text {
        left: 0;
        width: 100%;
    }

    #arrangement {
        text-align: center;
    } 

    hr {
        display: none;
    }

    #apartment-photos {
        column-count: 3;
        height: 50%;
    }
}

/* For small screen sizes 500px wide and down */
@media screen and (max-width: 500px) {
    #logo {
        font-size: 5vw;
    }

    #menu {
        font-size: 3vw;
    }

    #menu li {
        margin: 15px;
        letter-spacing: 2px;
    }

    #apartment-photos {
        column-count: 2;
    }

    .book-now-form {
        text-align: center;
        left: 0;
    }
}

/* For small screen sizes 350px wide and down */
@media screen and (max-width: 350px) {
    #popular-contents li {
        font-size: 4vw;
    }
}