@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    color: #1c1c1c;
}

/* headings and logo */

h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: blue;
    font-weight: 300;
}

#logo {
    float: left;
    font-size: 180%;
    font-style: italic;
    margin-left: 15px;
}

/* navigation links */

#menu {
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 85px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

#menu a:hover {
    color: #23537E;
    background: #2398F5;
    box-shadow: 0 0 10px #2398F5, 0 0 20px #2398F5, 0 0 25px #2398F5;
    transition-delay: 0.25s;
    border-radius: 10px;
}

.active {
    color: #23537E;
    background: #2398F5;
    box-shadow: 0 0 10px #2398F5, 0 0 15px #2398F5, 0 0 20px #2398F5;
    transition-delay: 0.25s;
    border-radius: 10px;
}

/* hero home and cover text */

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;

    position: relative;
}

#hero-home {
    width: 100%;
    height: 600px;
    background: url(../images/hero-home.jpg) no-repeat center center;
}

#cover-text h1, #cover-text h2 {
    color: whitesmoke;
    text-align: center;
}

#cover-text h1 {
    font-size: 90%;
}

#cover-text {
    width: 550px;
    height: 80px;

    background-color: rgba(35, 152, 245, 0.5);

    bottom: 20px;
    right: 425px;

    padding-top: 20px;

    position: absolute;
}

/* popular contents */

#popular-contents {
    height: 150px;
    margin-top: 50px;
    margin-left: 15px;
}

.contents-list-left {
    width: 50%;
    padding-top: 15px;
    list-style-type: none;
    line-height: 35px;
}

.contents-list-right {
    width: 50%;
    padding-top: 15px;
    list-style-type: none;
    line-height: 35px;

    position: relative;

    left: 50%;
    bottom: 105px;
}

#popular-contents li {
    margin-bottom: 10px;
}

#popular-contents h3, #price-list-table h3 {
    font-size: 120%;
    font-family: "Libre Baskerville", serif;
    color: #1c1c1c;
    letter-spacing: 1px;
}

hr {
    border-bottom: 1px solid #1c1c1c;
    margin: 5px 0;
    width: 58%;
}

/* price list table */

#price-list-table {
    height: 250px;
    margin-top: 50px;
    margin-left: 15px;
    font-size: 0.9em;
}

#price-list-table table {
    width: 58%;
    box-shadow: 0 0 20px #2398F5;
}

#price-list-table th, td {
    border: 1px solid #1c1c1c;
    padding: 12px 15px;
}

#price-list-table tr {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
    text-align: left;

}

#price-list-table th {
    background-color: #2398F5;
}

#price-list-table tr:nth-of-type(even) {
    background-color: lightgray;
}

/* arrangement */

#arrangement {
    margin: 150px 0 0 0;
    font-size: large;
}

.arrangement-content {
    padding: 20px;
    list-style-type: none;
}

/* Google maps */

#map {
    width: 100%;
    height: 350px;
    margin-top: 350px;
}

/* footer */

footer {
    background-color: #111;
    color: whitesmoke;
    font-size: 120%;
}

#contact-us {
    text-align: center;
}

#social-media {
    text-align: center;
}

#social-media li {
    display: inline;
}

#social-media i {
    margin: 1%;
    padding: 1%;
    font-size: 150%;
    color: whitesmoke;
}

#social-media i:hover {
    color: aqua;
}

#copyright {
    background-color: black;
    text-align: center;
    padding: 20px 0;
}

#copyright span {
    opacity: 0.4;
    font-weight: 900;
}

/* gallery */

#apartment-photos {
    clear: both;
    line-height: 0;
    column-gap: 0;
    column-count: 4;
}

#apartment-photos img {
    width: 100%;
}


